*{
    padding:0;
    margin:0;
    box-sizing:border-box
}
*:hover{
    cursor: context-menu;
}
body,html{
    font-family:Arial,Helvetica,sans-serif;
    color:#fff;
    overflow:hidden;
    background-color:#2f3237;
    height: 100vh;
}
.head{
    border-top:20px solid #ed6c65;
    text-align:center;
    font-size:30px
}
.main{
    padding:0 15vw
}
.content{
    text-align: center;
    background-color: #26282e;
    padding: 20px;
    border: 2px rgba(255, 255, 255, .1) solid;
    border-radius: 8px;
    margin: 5px;
    display: flex;
    align-items: center;
}
.form{
    display:flex;
    flex-direction:column
}

.answer-tag{
    font-size: 18px;
    text-align: start;
    color: white;
    width: 100%;
    background-color: #26282e;
    padding: 10px;
    border: 2px rgba(255, 255, 255, .1) solid;
    border-radius: 8px;
    margin: 5px;
}

.answer-button:hover{
    border: 2px #4b91d1 solid;
}

.submit-a{
    color:#fff;
    padding:10px 25px;
    background-color: transparent;
    border:rgba(255,255,255,.5) 3px solid;
    text-decoration: none;
    border-radius:5px
}

.submit-a-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.submit-a:hover{
    transition:1s;
    background-color: rgba(255, 255, 255, .05);
    border:rgba(255,255,255,.9) 3px solid
}

.is-good{
    font-weight: normal;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}